 
<div class="consulta  d-flex justify-content-center">
  
    @if (empleado !== null) {
    <div class="card p-3 mt-4 d-flex flex-row  "  >
        <img [src]="empleado.foto" alt="Foto del empleado" class="img-thumbnail me-3"  >
        <div>
        <h5 class="card-title mb-2">{{ empleado.nombre }}</h5>
        <p class="mb-1"><strong>ID:</strong> {{ empleado.id }}</p>
        <p class="mb-1"><strong>Edad:</strong> {{ empleado.edad }}</p>
        <p class="mb-1"><strong>Sueldo:</strong> ${{ empleado.sueldo | number:'1.0-0' }}</p>   <!--${{ empleado.sueldo | number:'1.0-0' }}-->
        <p class="mb-0"><strong>Antigüedad:</strong> {{ empleado.antiguedad }} años</p>
        </div>
    </div>
    } @else {
    <div class="alert alert-warning mt-4   ">
        No se encontró ningún empleado con el ID {{ id }}.
    </div>
    }

</div>
